@header-color:  rgba( 29, 38, 50, 0.302);
@light-grey-font: #e1e2e4;
@dark-blue-font: #283645;/*также для переключателя слайдера*/
@dark-blue-bg: #1d2631;
@info-font: #d22856;
@grey-bg: #f2f2f2;
@light-grey-radio: #bec2c7;
@grey-border: #e5e5e5;
@pink-font: #d22856;
@sucsess: #2aab6d;
